Repository cchoici/prod: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, eslint

temp
  src/test/.env
  src/test/.env.development
  src/test/vite.config.js
Due: none

refactor: md in project
  .eslintignore
  main.mjs
  src/lintTPL/genVite/.lintstagedrc
  src/project/genVite/.env
  src/project/genVite/.env.development
  src/project/genVite/.gitlab-ci.yml
  src/project/genVite/Dockerfile
  src/project/genVite/local.Dockerfile
  src/project/genVite/public/logo.svg
  src/project/genVite/src/App.css
  src/project/genVite/src/App.jsx
  src/project/genVite/src/index.css
  src/project/genVite/src/main.jsx
  src/project/project.mjs
  src/project/vite.config.js
  src/test/.env
  src/test/.env.development
  src/test/test.mjs
Due: prettier --write --config .prettierrc, eslint

temp
  src/test/package.json
Due: prettier --write --config .prettierrc

feat: add shared code
  package.json
  src/project/project.mjs
  src/shared/func/memorize.js
Due: prettier --write --config .prettierrc, eslint

fix: eslint passed alias import path
  src/lintTPL/genVite/.eslintrc
  src/lintTPL/lint.mjs
  src/project/project.mjs
Due: eslint

refactor: md project
  src/check-staged/gen/.gitignore
  src/project/genVite/index.html
  src/project/genVite/src/App.css
  src/project/genVite/src/App.jsx
  src/project/genVite/src/Default.jsx
  src/project/genVite/src/Init.jsx
  src/project/genVite/src/assets/react.svg
  src/project/genVite/src/main.jsx
  src/project/genVite/src/router.jsx
  src/project/genVite/src/shared/styles/scrollbar.css
  src/project/project.mjs
  src/shared/func/memorize.js
Due: prettier --write --config .prettierrc, eslint

feat: add docker settings
  main.mjs
  src/check-staged/check-staged.mjs
  src/docker/docker.mjs
  src/docker/genVite/Dockerfile
  src/docker/genVite/local.Dockerfile
Due: eslint

refactor: md project
  src/docker/genVite/nginx.conf
  src/project/genVite/public/logo.svg
  src/project/project.mjs
Due: eslint

fix: add pkg in project
  src/project/project.mjs
Due: eslint

feat: add Windows settings option"
  main.mjs
  src/test/package.json
  src/util/execCmd.mjs
  src/window/default.mjs
  src/window/theme.deskthemepack
Due: prettier --write --config .prettierrc, eslint

temp used
  package.json
  pnpm-lock.yaml
  src/project/project.mjs
  status-monitor.zip
Due: prettier --write --config .prettierrc, eslint

upload public.zip
  public.zip
  status-monitor.zip
Due: none

refactor: upgrade package ver
  .vscode/settings.json
  src/project/project.mjs
  status-monitor.zip
Due: prettier --write --config .prettierrc, eslint

feat: add to ceate vanilla project
  package.json
  pnpm-lock.yaml
  public.zip
  src/project/genViteReact/.env
  src/project/genViteReact/.env.development
  src/project/genViteReact/.gitlab-ci.yml
  src/project/genViteReact/index.html
  src/project/genViteReact/public/logo.svg
  src/project/genViteReact/src/Default.jsx
  src/project/genViteReact/src/Init.jsx
  src/project/genViteReact/src/assets/react.svg
  src/project/genViteReact/src/index.css
  src/project/genViteReact/src/main.jsx
  src/project/genViteReact/src/router.jsx
  src/project/genViteReact/src/shared/styles/scrollbar.css
  src/project/project.mjs
  src/window/default.mjs
Due: prettier --write --config .prettierrc, eslint

fix: project.mjs
  .vscode/settings.json
  src/project/project.mjs
Due: prettier --write --config .prettierrc, eslint

doc: add build issue
  README.md
  package.json
  pnpm-lock.yaml
  src/project/project.mjs
  src/shared/img/issue1.png
Due: prettier --write --config .prettierrc, eslint

Path conditions:
  prettier --write --config .prettierrc: any of: *.{json,css,md}
  eslint: (any of: *.mjs) or (any of: *.jsx)
